<html>
  <head>
    <title>Namepace Usage Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/kube.min.css" rel="stylesheet" type="text/css">
    <style>
      body {
        margin: 40px;
      }

      svg a.namespace-name > text {
        fill: #0073aa;
        text-decoration: underline;
      }

      svg a.namespace-name:hover > text {
        fill: #0096dd;
      }

      div.is-navbar-container {
        min-height: 50px;
      }

      .is-navbar .is-active a {
        color: #000;
        text-decoration: none;
        border-bottom: 2px solid red;
        margin-bottom: -2px;
      }

    </style>
  </head>
  <body>

    <div class="is-navbar-container">
      <div class="is-brand">
        <b class="is-logo">Charts</b>
      </div>
      <div class="is-navbar">
        <nav>
          <ul>
            <li <%= %(class="is-active") if type == "cpu" %>><a href="/namespaces_by_cpu">CPU</a></li>
            <li <%= %(class="is-active") if type == "memory" %>><a href="/namespaces_by_memory">Memory</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="page is-container">
      <main class="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
